<HierarchyTop>
  <BaseModuleName>top</BaseModuleName>
  <ImmutableParameters></ImmutableParameters>
  <InstanceName>top</InstanceName>
  <Parameters>
    <ParameterItem>
      <ArrayType>
        <ArrayItem>
          <Val>2</Val>
        </ArrayItem>
        <ArrayItem>
          <Val>5</Val>
        </ArrayItem>
        <ArrayItem>
          <Val>16</Val>
        </ArrayItem>
        <ArrayItem>
          <Val>32</Val>
        </ArrayItem>
        <ArrayItem>
          <Val>64</Val>
        </ArrayItem>
      </ArrayType>
      <Doc>List of wallace trees to generate</Doc>
      <Name>WALLACES_WIDTHS</Name>
    </ParameterItem>
  </Parameters>
  <SubInstances>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <ImmutableParameters>
        <ParameterItem>
          <Doc>This is the bit width of the partial products</Doc>
          <Name>N</Name>
          <Range>
            <List>1</List>
            <List>2</List>
            <List>3</List>
            <List>4</List>
            <List>5</List>
            <List>6</List>
            <List>7</List>
            <List>8</List>
            <List>9</List>
            <List>16</List>
            <List>32</List>
            <List>64</List>
          </Range>
          <Val>2</Val>
        </ParameterItem>
      </ImmutableParameters>
      <InstanceName>wallace_2</InstanceName>
      <Parameters>
        <ParameterItem>
          <Doc>the value can be true or false</Doc>
          <Name>COND</Name>
          <Range>
            <List>false</List>
            <List>true</List>
          </Range>
          <Val>false</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMin</Name>
          <Range>
            <Min>106</Min>
          </Range>
          <Val>107</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMax</Name>
          <Range>
            <Max>210</Max>
          </Range>
          <Val>200</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinStep</Name>
          <Range>
            <Min>300</Min>
            <Step>3</Step>
          </Range>
          <Val>309</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMaxStep</Name>
          <Range>
            <Max>410</Max>
            <Step>2</Step>
          </Range>
          <Val>404</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMax</Name>
          <Range>
            <Max>510</Max>
            <Min>500</Min>
          </Range>
          <Val>505</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMaxStep</Name>
          <Range>
            <Max>630</Max>
            <Min>610</Min>
            <Step>2</Step>
          </Range>
          <Val>622</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <InstancePath>top.wallace_2</InstancePath>
          <Name>ParamExamplePointerToMe</Name>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <HashType>
            <HashItem>
              <Key>Assoc</Key>
              <Val>4</Val>
            </HashItem>
            <HashItem>
              <Key>lineSize</Key>
              <Val>256</Val>
            </HashItem>
            <HashItem>
              <Key>waySize</Key>
              <Val>4096</Val>
            </HashItem>
            <HashItem>
              <Key>wordSize</Key>
              <Val>64</Val>
            </HashItem>
          </HashType>
          <Name>ParamHash</Name>
        </ParameterItem>
        <ParameterItem>
          <ArrayType>
            <ArrayItem>
              <Val>value</Val>
            </ArrayItem>
            <ArrayItem>
              <ArrayType>
                <ArrayItem>
                  <Val>1</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>2</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>3</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>4</Val>
                </ArrayItem>
              </ArrayType>
            </ArrayItem>
            <ArrayItem>
              <HashType>
                <HashItem>
                  <Key>a</Key>
                  <Val>1</Val>
                </HashItem>
                <HashItem>
                  <Key>b</Key>
                  <Val>2</Val>
                </HashItem>
                <HashItem>
                  <Key>c</Key>
                  <Val>3</Val>
                </HashItem>
                <HashItem>
                  <ArrayType>
                    <ArrayItem>
                      <Val>a</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>b</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>c</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>x</Val>
                    </ArrayItem>
                  </ArrayType>
                  <Key>d</Key>
                </HashItem>
              </HashType>
            </ArrayItem>
          </ArrayType>
          <Doc>This is realy a complex type that no one should ever use as parameter</Doc>
          <Name>ParamComplexStruct</Name>
        </ParameterItem>
      </Parameters>
      <SubInstances></SubInstances>
      <UniqueModuleName>wallace_unq1</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <CloneOf>
        <InstancePath>top.wallace_2</InstancePath>
      </CloneOf>
      <InstanceName>clone_of_wallce_2</InstanceName>
      <UniqueModuleName>wallace_unq1</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <ImmutableParameters>
        <ParameterItem>
          <Doc>This is the bit width of the partial products</Doc>
          <Name>N</Name>
          <Range>
            <List>1</List>
            <List>2</List>
            <List>3</List>
            <List>4</List>
            <List>5</List>
            <List>6</List>
            <List>7</List>
            <List>8</List>
            <List>9</List>
            <List>16</List>
            <List>32</List>
            <List>64</List>
          </Range>
          <Val>5</Val>
        </ParameterItem>
      </ImmutableParameters>
      <InstanceName>wallace_5</InstanceName>
      <Parameters>
        <ParameterItem>
          <Doc>the value can be true or false</Doc>
          <Name>COND</Name>
          <Range>
            <List>false</List>
            <List>true</List>
          </Range>
          <Val>false</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMin</Name>
          <Range>
            <Min>106</Min>
          </Range>
          <Val>107</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMax</Name>
          <Range>
            <Max>210</Max>
          </Range>
          <Val>200</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinStep</Name>
          <Range>
            <Min>300</Min>
            <Step>3</Step>
          </Range>
          <Val>309</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMaxStep</Name>
          <Range>
            <Max>410</Max>
            <Step>2</Step>
          </Range>
          <Val>404</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMax</Name>
          <Range>
            <Max>510</Max>
            <Min>500</Min>
          </Range>
          <Val>505</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMaxStep</Name>
          <Range>
            <Max>630</Max>
            <Min>610</Min>
            <Step>2</Step>
          </Range>
          <Val>622</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <InstancePath>top.wallace_5</InstancePath>
          <Name>ParamExamplePointerToMe</Name>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <HashType>
            <HashItem>
              <Key>Assoc</Key>
              <Val>4</Val>
            </HashItem>
            <HashItem>
              <Key>lineSize</Key>
              <Val>256</Val>
            </HashItem>
            <HashItem>
              <Key>waySize</Key>
              <Val>4096</Val>
            </HashItem>
            <HashItem>
              <Key>wordSize</Key>
              <Val>64</Val>
            </HashItem>
          </HashType>
          <Name>ParamHash</Name>
        </ParameterItem>
        <ParameterItem>
          <ArrayType>
            <ArrayItem>
              <Val>value</Val>
            </ArrayItem>
            <ArrayItem>
              <ArrayType>
                <ArrayItem>
                  <Val>1</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>2</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>3</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>4</Val>
                </ArrayItem>
              </ArrayType>
            </ArrayItem>
            <ArrayItem>
              <HashType>
                <HashItem>
                  <Key>a</Key>
                  <Val>1</Val>
                </HashItem>
                <HashItem>
                  <Key>b</Key>
                  <Val>2</Val>
                </HashItem>
                <HashItem>
                  <Key>c</Key>
                  <Val>3</Val>
                </HashItem>
                <HashItem>
                  <ArrayType>
                    <ArrayItem>
                      <Val>a</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>b</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>c</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>x</Val>
                    </ArrayItem>
                  </ArrayType>
                  <Key>d</Key>
                </HashItem>
              </HashType>
            </ArrayItem>
          </ArrayType>
          <Doc>This is realy a complex type that no one should ever use as parameter</Doc>
          <Name>ParamComplexStruct</Name>
        </ParameterItem>
      </Parameters>
      <SubInstances></SubInstances>
      <UniqueModuleName>wallace_unq2</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <CloneOf>
        <InstancePath>top.wallace_5</InstancePath>
      </CloneOf>
      <InstanceName>clone_of_wallce_5</InstanceName>
      <UniqueModuleName>wallace_unq2</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <ImmutableParameters>
        <ParameterItem>
          <Doc>This is the bit width of the partial products</Doc>
          <Name>N</Name>
          <Range>
            <List>1</List>
            <List>2</List>
            <List>3</List>
            <List>4</List>
            <List>5</List>
            <List>6</List>
            <List>7</List>
            <List>8</List>
            <List>9</List>
            <List>16</List>
            <List>32</List>
            <List>64</List>
          </Range>
          <Val>16</Val>
        </ParameterItem>
      </ImmutableParameters>
      <InstanceName>wallace_16</InstanceName>
      <Parameters>
        <ParameterItem>
          <Doc>the value can be true or false</Doc>
          <Name>COND</Name>
          <Range>
            <List>false</List>
            <List>true</List>
          </Range>
          <Val>false</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMin</Name>
          <Range>
            <Min>106</Min>
          </Range>
          <Val>107</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMax</Name>
          <Range>
            <Max>210</Max>
          </Range>
          <Val>200</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinStep</Name>
          <Range>
            <Min>300</Min>
            <Step>3</Step>
          </Range>
          <Val>309</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMaxStep</Name>
          <Range>
            <Max>410</Max>
            <Step>2</Step>
          </Range>
          <Val>404</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMax</Name>
          <Range>
            <Max>510</Max>
            <Min>500</Min>
          </Range>
          <Val>505</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMaxStep</Name>
          <Range>
            <Max>630</Max>
            <Min>610</Min>
            <Step>2</Step>
          </Range>
          <Val>622</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <InstancePath>top.wallace_16</InstancePath>
          <Name>ParamExamplePointerToMe</Name>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <HashType>
            <HashItem>
              <Key>Assoc</Key>
              <Val>4</Val>
            </HashItem>
            <HashItem>
              <Key>lineSize</Key>
              <Val>256</Val>
            </HashItem>
            <HashItem>
              <Key>waySize</Key>
              <Val>4096</Val>
            </HashItem>
            <HashItem>
              <Key>wordSize</Key>
              <Val>64</Val>
            </HashItem>
          </HashType>
          <Name>ParamHash</Name>
        </ParameterItem>
        <ParameterItem>
          <ArrayType>
            <ArrayItem>
              <Val>value</Val>
            </ArrayItem>
            <ArrayItem>
              <ArrayType>
                <ArrayItem>
                  <Val>1</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>2</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>3</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>4</Val>
                </ArrayItem>
              </ArrayType>
            </ArrayItem>
            <ArrayItem>
              <HashType>
                <HashItem>
                  <Key>a</Key>
                  <Val>1</Val>
                </HashItem>
                <HashItem>
                  <Key>b</Key>
                  <Val>2</Val>
                </HashItem>
                <HashItem>
                  <Key>c</Key>
                  <Val>3</Val>
                </HashItem>
                <HashItem>
                  <ArrayType>
                    <ArrayItem>
                      <Val>a</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>b</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>c</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>x</Val>
                    </ArrayItem>
                  </ArrayType>
                  <Key>d</Key>
                </HashItem>
              </HashType>
            </ArrayItem>
          </ArrayType>
          <Doc>This is realy a complex type that no one should ever use as parameter</Doc>
          <Name>ParamComplexStruct</Name>
        </ParameterItem>
      </Parameters>
      <SubInstances></SubInstances>
      <UniqueModuleName>wallace_unq3</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <CloneOf>
        <InstancePath>top.wallace_16</InstancePath>
      </CloneOf>
      <InstanceName>clone_of_wallce_16</InstanceName>
      <UniqueModuleName>wallace_unq3</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <ImmutableParameters>
        <ParameterItem>
          <Doc>This is the bit width of the partial products</Doc>
          <Name>N</Name>
          <Range>
            <List>1</List>
            <List>2</List>
            <List>3</List>
            <List>4</List>
            <List>5</List>
            <List>6</List>
            <List>7</List>
            <List>8</List>
            <List>9</List>
            <List>16</List>
            <List>32</List>
            <List>64</List>
          </Range>
          <Val>32</Val>
        </ParameterItem>
      </ImmutableParameters>
      <InstanceName>wallace_32</InstanceName>
      <Parameters>
        <ParameterItem>
          <Doc>the value can be true or false</Doc>
          <Name>COND</Name>
          <Range>
            <List>false</List>
            <List>true</List>
          </Range>
          <Val>false</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMin</Name>
          <Range>
            <Min>106</Min>
          </Range>
          <Val>107</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMax</Name>
          <Range>
            <Max>210</Max>
          </Range>
          <Val>200</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinStep</Name>
          <Range>
            <Min>300</Min>
            <Step>3</Step>
          </Range>
          <Val>309</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMaxStep</Name>
          <Range>
            <Max>410</Max>
            <Step>2</Step>
          </Range>
          <Val>404</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMax</Name>
          <Range>
            <Max>510</Max>
            <Min>500</Min>
          </Range>
          <Val>505</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMaxStep</Name>
          <Range>
            <Max>630</Max>
            <Min>610</Min>
            <Step>2</Step>
          </Range>
          <Val>622</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <InstancePath>top.wallace_32</InstancePath>
          <Name>ParamExamplePointerToMe</Name>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <HashType>
            <HashItem>
              <Key>Assoc</Key>
              <Val>4</Val>
            </HashItem>
            <HashItem>
              <Key>lineSize</Key>
              <Val>256</Val>
            </HashItem>
            <HashItem>
              <Key>waySize</Key>
              <Val>4096</Val>
            </HashItem>
            <HashItem>
              <Key>wordSize</Key>
              <Val>64</Val>
            </HashItem>
          </HashType>
          <Name>ParamHash</Name>
        </ParameterItem>
        <ParameterItem>
          <ArrayType>
            <ArrayItem>
              <Val>value</Val>
            </ArrayItem>
            <ArrayItem>
              <ArrayType>
                <ArrayItem>
                  <Val>1</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>2</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>3</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>4</Val>
                </ArrayItem>
              </ArrayType>
            </ArrayItem>
            <ArrayItem>
              <HashType>
                <HashItem>
                  <Key>a</Key>
                  <Val>1</Val>
                </HashItem>
                <HashItem>
                  <Key>b</Key>
                  <Val>2</Val>
                </HashItem>
                <HashItem>
                  <Key>c</Key>
                  <Val>3</Val>
                </HashItem>
                <HashItem>
                  <ArrayType>
                    <ArrayItem>
                      <Val>a</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>b</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>c</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>x</Val>
                    </ArrayItem>
                  </ArrayType>
                  <Key>d</Key>
                </HashItem>
              </HashType>
            </ArrayItem>
          </ArrayType>
          <Doc>This is realy a complex type that no one should ever use as parameter</Doc>
          <Name>ParamComplexStruct</Name>
        </ParameterItem>
      </Parameters>
      <SubInstances></SubInstances>
      <UniqueModuleName>wallace_unq4</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <CloneOf>
        <InstancePath>top.wallace_32</InstancePath>
      </CloneOf>
      <InstanceName>clone_of_wallce_32</InstanceName>
      <UniqueModuleName>wallace_unq4</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <ImmutableParameters>
        <ParameterItem>
          <Doc>This is the bit width of the partial products</Doc>
          <Name>N</Name>
          <Range>
            <List>1</List>
            <List>2</List>
            <List>3</List>
            <List>4</List>
            <List>5</List>
            <List>6</List>
            <List>7</List>
            <List>8</List>
            <List>9</List>
            <List>16</List>
            <List>32</List>
            <List>64</List>
          </Range>
          <Val>64</Val>
        </ParameterItem>
      </ImmutableParameters>
      <InstanceName>wallace_64</InstanceName>
      <Parameters>
        <ParameterItem>
          <Doc>the value can be true or false</Doc>
          <Name>COND</Name>
          <Range>
            <List>false</List>
            <List>true</List>
          </Range>
          <Val>false</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMin</Name>
          <Range>
            <Min>106</Min>
          </Range>
          <Val>107</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMax</Name>
          <Range>
            <Max>210</Max>
          </Range>
          <Val>200</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinStep</Name>
          <Range>
            <Min>300</Min>
            <Step>3</Step>
          </Range>
          <Val>309</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMaxStep</Name>
          <Range>
            <Max>410</Max>
            <Step>2</Step>
          </Range>
          <Val>404</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMax</Name>
          <Range>
            <Max>510</Max>
            <Min>500</Min>
          </Range>
          <Val>505</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <Name>ParWithMinMaxStep</Name>
          <Range>
            <Max>630</Max>
            <Min>610</Min>
            <Step>2</Step>
          </Range>
          <Val>622</Val>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <InstancePath>top.wallace_64</InstancePath>
          <Name>ParamExamplePointerToMe</Name>
        </ParameterItem>
        <ParameterItem>
          <Doc></Doc>
          <HashType>
            <HashItem>
              <Key>Assoc</Key>
              <Val>4</Val>
            </HashItem>
            <HashItem>
              <Key>lineSize</Key>
              <Val>256</Val>
            </HashItem>
            <HashItem>
              <Key>waySize</Key>
              <Val>4096</Val>
            </HashItem>
            <HashItem>
              <Key>wordSize</Key>
              <Val>64</Val>
            </HashItem>
          </HashType>
          <Name>ParamHash</Name>
        </ParameterItem>
        <ParameterItem>
          <ArrayType>
            <ArrayItem>
              <Val>value</Val>
            </ArrayItem>
            <ArrayItem>
              <ArrayType>
                <ArrayItem>
                  <Val>1</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>2</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>3</Val>
                </ArrayItem>
                <ArrayItem>
                  <Val>4</Val>
                </ArrayItem>
              </ArrayType>
            </ArrayItem>
            <ArrayItem>
              <HashType>
                <HashItem>
                  <Key>a</Key>
                  <Val>1</Val>
                </HashItem>
                <HashItem>
                  <Key>b</Key>
                  <Val>2</Val>
                </HashItem>
                <HashItem>
                  <Key>c</Key>
                  <Val>3</Val>
                </HashItem>
                <HashItem>
                  <ArrayType>
                    <ArrayItem>
                      <Val>a</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>b</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>c</Val>
                    </ArrayItem>
                    <ArrayItem>
                      <Val>x</Val>
                    </ArrayItem>
                  </ArrayType>
                  <Key>d</Key>
                </HashItem>
              </HashType>
            </ArrayItem>
          </ArrayType>
          <Doc>This is realy a complex type that no one should ever use as parameter</Doc>
          <Name>ParamComplexStruct</Name>
        </ParameterItem>
      </Parameters>
      <SubInstances></SubInstances>
      <UniqueModuleName>wallace_unq5</UniqueModuleName>
    </SubInstanceItem>
    <SubInstanceItem>
      <BaseModuleName>wallace</BaseModuleName>
      <CloneOf>
        <InstancePath>top.wallace_64</InstancePath>
      </CloneOf>
      <InstanceName>clone_of_wallce_64</InstanceName>
      <UniqueModuleName>wallace_unq5</UniqueModuleName>
    </SubInstanceItem>
  </SubInstances>
  <UniqueModuleName>top</UniqueModuleName>
</HierarchyTop>
